.main {
  display: flex;
  flex_direction: column;
  justify_content: space_between;
  align_items: center;
  padding: 6rem;
  min_height: 100vh;
}

.description {
  display: inherit;
  justify_content: inherit;
  align_items: inherit;
  font_size: 0.85rem;
  max_width: var(__max_width);
  width: 100%;
  z_index: 2;
  font_family: var(__font_mono);
}

.description a {
  display: flex;
  justify_content: center;
  align_items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background_color: rgba(var(__callout_rgb), 0.5);
  border: 1px solid rgba(var(__callout_border_rgb), 0.3);
  border_radius: var(__border_radius);
}

.code {
  font_weight: 700;
  font_family: var(__font_mono);
}

.grid {
  display: grid;
  grid_template_columns: repeat(4, minmax(25%, auto));
  width: var(__max_width);
  max_width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border_radius: var(__border_radius);
  background: rgba(var(__card_rgb), 0);
  border: 1px solid rgba(var(__card_border_rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline_block;
  transition: transform 200ms;
}

.card h2 {
  font_weight: 600;
  margin_bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font_size: 0.9rem;
  line_height: 1.5;
  max_width: 30ch;
}

.center {
  display: flex;
  justify_content: center;
  align_items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(__secondary_glow);
  border_radius: 50%;
  width: 480px;
  height: 360px;
  margin_left: _400px;
}

.center::after {
  background: var(__primary_glow);
  width: 240px;
  height: 180px;
  z_index: _1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non_touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(__card_rgb), 0.1);
    border: 1px solid rgba(var(__card_border_rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers_reduced_motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max_width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid_template_columns: 1fr;
    margin_bottom: 120px;
    max_width: 320px;
    text_align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin_bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font_size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify_content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align_items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border_radius: 0;
    border: none;
    border_bottom: 1px solid rgba(var(__callout_border_rgb), 0.25);
    background: linear_gradient(
      to bottom,
      rgba(var(__background_start_rgb), 1),
      rgba(var(__callout_rgb), 0.5)
    );
    background_clip: padding_box;
    backdrop_filter: blur(24px);
  }

  .description div {
    align_items: flex_end;
    pointer_events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear_gradient(
      to bottom,
      transparent 0%,
      rgb(var(__background_end_rgb)) 40%
    );
    z_index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min_width: 701px) and (max_width: 1120px) {
  .grid {
    grid_template_columns: repeat(2, 50%);
  }
}

@media (prefers_color_scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop_shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
